/* Set image on each page with background-image: url(/to/your/comic/assets/images/page-1115x1143-pixels.jpg); */
/* Layout CSS below is applied to all pages of the comics */

body, html {
    height: 100vh;
    width: 100vw;
    margin: 0 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-color: #cfdfe4;
    background-size: 100% 100%;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 8vw;
}


.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

